/* body styles */
.bg-color {

    background-color: #c0bff537;

}

/* shared styles */
.uni-button {
    background-color: #4E47FF;
    text-align: center;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 15px 18px 15px 18px;
}

.uni-logo {
    color: #4E47FF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;

}

.dark-2 {
    color: #474747a4;
}

/* header styles */
.main-banner {
    margin-top: 0px;

    background-image: url(../Assets/Hero-bg.png);
    height: 500px;

}

.nav-option {
    display: flex;
    align-items: center;
    gap: 1200px;
    padding: 60px;
}





.banner-text {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

/* action styles */
.action-section {
    margin-top: 94px;
    margin-left: 140px;
    margin-right: 140px;

    display: flex;
    gap: 550px;
    align-items: center;

}

.action-tiltle {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;

}

.action-description {
    text-align: left;
    font-size: large;
}

.action-image {
    border-radius: 50px;
    height: 270px;
    width: 350px;
}

.launch-btn {
    text-align: left;
}

/* productive styles */
.productive-section {
    background-color: #c0bff54c;
    text-align: center;
    border-radius: 50px;
    margin: 90px 165px;
}

.productive-title {
    /* font-family: ; */
    padding-top: 50px;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: x-large;
}

.productive-data {
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
}

.productive-data-info {
    font-size: xxx-large;
    color: #4E47FF;
    margin-bottom: 5px;

}

.productive-data-description {
    text-align: center;
    margin: 0;
    padding-bottom: 45px;
    font-size: larger;
}